.App {
  text-align: center;
  background-image: url("Final_BG.png");
  background-size: cover;
  background-repeat: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: Font;
  src: url(./Font/BellMT.ttf);
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  background-color: #fd5c5c;
  margin-top: -60px;
  margin-left: -8px;
  position: fixed;
}
.BP {
  padding: 15px 16px;
  font-size: 25px;
  padding-left: 40px;
  color: black;
  font-family: "PRIMETIME", sans-serif;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  float: right;
  margin: 0px;
  font-family: "PRIMETIME", sans-serif;

  font-size: 18px;
}
li a:hover:not(.active) {
  background-color: pink;
}
ul li a {
  font-family: "Bell MT", Courier, monospace;
}
div div div h1 {
  color: #fd5c5c;
  font-family: "Bell MT", Courier, monospace;
  font-size: 100px;
  margin-top: 200px;
  margin-bottom: 220px;
}
.bighead {
  font-weight: bold;
  -webkit-text-stroke-width: 3.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.headh2 {
  font-family: "Bell MT", Courier, monospace;
  font-weight: bold;
  background-color: #ffb4b4;
  padding-bottom: 3px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -120px;
  font-size: 60px;
  margin-top: -130px;
}
.headh2R {
  font-family: "Bell MT", Courier, monospace;
  background-color: #ffb4b4;
  padding-bottom: 15px;
  padding-top: 25px;
  border-radius: 50px 0px 0px 50px;
  margin-top: 130px;
  margin-left: 885px;
  font-size: 60px;
}
.textp1 {
  font-family: "Kanit", Courier, monospace;
  font-size: 35px;
}
.textp2 {
  font-family: "Kanit", Courier, monospace;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
}
.textp3 {
  font-family: "Bell MT", Courier, monospace;
  font-size: 28px;
}
.text {
  font-family: "Kanit", Courier, monospace;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.front {
  padding-top: 100px;
  padding-bottom: 100px;
}
.font {
  font-family: "Bell MT", Courier, monospace;
}
.col-6 img {
  width: 680px;
  height: 464px;
  border-radius: 30px;
}
.col-6 img:hover {
  width: 680px;
  height: 464px;
  border-radius: 30px;
  box-shadow: 6px 6px 4px rgba(255, 199, 0, 40%);
}
.undertext {
  padding-top: 20px;
  text-align: center;
  font-family: "Bell MT", Courier, monospace;
}
.photo {
  width: 680px;
  height: 464px;
}
.ab {
  background-color: #ffb4b4;
  padding: 15px;
  border-radius: 50px;
  font-size: 55px;
  color: #fd5c5c;
}

/* .black{
  border: #282c34 2px solid;

} */
